@media (min-width:1025px) {
    .footer {
        background-color: #664300;
        font-size: 1.1rem;
        margin-bottom: 0px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit minmax(80px 1fr));
        grid-template-columns: repeat(auto-fill minmax(80px 1fr));
    }
    .adr{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .cont{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .prom{
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 5px;
        
    }
    .personal{
        width: 10%;
        padding-top: 0px;
    }
}

//Mobile
@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait) {
    .footer {
        background-color: #664300;
        font-size: 0.5rem;
        margin-bottom: 0px;
        padding: 0 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit minmax(80px 1fr));
        grid-template-columns: repeat(auto-fill minmax(80px 1fr));
    }
    .adr{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .cont{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .prom{
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 2px;  
    }
    .personal{
        width: 15px;
        padding-top: 0px;
    }
}
//Mobile horizontal
@media (min-width:399px) and (max-width:760px) and (orientation:landscape) {
    .footer {
        background-color: #664300;
        font-size: 0.6rem;
        margin-bottom: 0px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit minmax(80px 1fr));
        grid-template-columns: repeat(auto-fill minmax(80px 1fr));
    }
    .adr{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .cont{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .prom{
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 5px;
        
    }
    .personal{
        width: 15px;
        padding-top: 0px;
    }
}

//Tablet 
@media (min-width:481px) and (max-width:768px) and (orientation:portrait) {
    .footer {
        background-color: #664300;
        font-size: 1.1rem;
        margin-bottom: 0px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit minmax(80px 1fr));
        grid-template-columns: repeat(auto-fill minmax(80px 1fr));
    }
    .adr{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .cont{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .prom{
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 5px;
        
    }
    .personal{
        width: 10%;
        padding-top: 0px;
    }
}

//Tablet horizontal
@media (min-width:761px) and (max-width:1024px) and (orientation:landscape) {
    .footer {
        background-color: #664300;
        font-size: 1.1rem;
        margin-bottom: 0px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit minmax(80px 1fr));
        grid-template-columns: repeat(auto-fill minmax(80px 1fr));
    }
    .adr{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .cont{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .prom{
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 5px;
        
    }
    .personal{
        width: 10%;
        padding-top: 0px;
    }
}